<div id="header" class="header">
    <div class="container">
        <div class="innerHeader">
            <h1 class="header_title">Uploads</h1>
            <button class="logout"><i class="fa fa-power-off"></i></button>
        </div>
    </div>
</div>
<div class="mainWrapper">
    <div class="container">
        <div class="innerWrapper">
            <div class="row">
                <div class="col-sm-12">
                    <div class="file_dropBox">
                        <p>Drag files here or click to upload</p>
                    </div>
                    <div class="uploadFiles">
                        <div class="row files_listingRow">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>